*~
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.sub
configure
depcomp
gnulib/
install-sh
config.h.in
m4/
missing
config.log
config.status
lib/.deps/
lib/config.h
lib/stamp-h1
src/.deps/
/INSTALL
/arg-nonnull.h
/c++defs.h
/warn-on-use.h
