*~
*.a
*.o
rmfd-*.tar.gz
rmfd-*.tar.xz
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache/
build-aux/
config.guess
config.sub
configure
depcomp
gnulib/
install-sh
m4/
missing
config.log
config.status
/compile
