/Makefile.am
/alloca.in.h
/argmatch.c
/argmatch.h
/btowc.c
/config.charset
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/getdelim.c
/getline.c
/gettext.h
/intprops.h
/langinfo.in.h
/localcharset.c
/localcharset.h
/malloc.c
/mbrtowc.c
/mbsinit.c
/nl_langinfo.c
/priv-set.c
/priv-set.h
/quote.c
/quote.h
/quotearg.c
/quotearg.h
/realloc.c
/ref-add.sin
/ref-del.sin
/regcomp.c
/regex.c
/regex.h
/regex_internal.c
/regex_internal.h
/regexec.c
/rpmatch.c
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio-write.c
/stdio.in.h
/stdlib.in.h
/streq.h
/strerror.c
/string.in.h
/unistd.in.h
/verify.h
/wchar.in.h
/wcrtomb.c
/wctype.in.h
/xalloc-die.c
/xalloc.h
/xmalloc.c
/yesno.c
/yesno.h
