/Makefile.am
/alloca.in.h
/alloca.h
/argmatch.c
/argmatch.h
/btowc.c
/config.charset
/errno.in.h
/errno.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/getdelim.c
/getline.c
/gettext.h
/intprops.h
/langinfo.in.h
/langinfo.h
/localcharset.c
/localcharset.h
/malloc.c
/mbrtowc.c
/mbsinit.c
/nl_langinfo.c
/priv-set.c
/priv-set.h
/quote.c
/quote.h
/quotearg.c
/quotearg.h
/realloc.c
/ref-add.sin
/ref-del.sin
/regcomp.c
/regex.c
/regex.h
/regex_internal.c
/regex_internal.h
/regexec.c
/rpmatch.c
/stdbool.in.h
/stdbool.h
/stddef.in.h
/stddef.h
/stdint.in.h
/stdint.h
/stdio-write.c
/stdio.in.h
/stdio.h
/stdlib.in.h
/stdlib.h
/streq.h
/strerror.c
/string.in.h
/string.h
/unistd.in.h
/unistd.h
/verify.h
/wchar.in.h
/wchar.h
/wcrtomb.c
/wctype.in.h
/wctype.h
/xalloc-die.c
/xalloc.h
/xmalloc.c
/yesno.c
/yesno.h
/at-func.c
/basename-lgpl.c
/basename.c
/c-ctype.c
/c-ctype.h
/c-strcase.h
/c-strcasecmp.c
/c-strncasecmp.c
/chdir-long.c
/chdir-long.h
/chown.c
/cloexec.c
/cloexec.h
/close-hook.c
/close-hook.h
/close-stream.c
/close-stream.h
/close.c
/closein.c
/closein.h
/closeout.c
/closeout.h
/dirent.in.h
/dirent.h
/dirfd.c
/dirname-lgpl.c
/dirname.c
/dirname.h
/dup-safer.c
/dup2.c
/fchdir.c
/fchmodat.c
/fchown-stub.c
/fchownat.c
/fclose.c
/fcntl.c
/fcntl.in.h
/fcntl.h
/fd-safer.c
/fdopendir.c
/fflush.c
/fpending.c
/fpending.h
/fpurge.c
/freadahead.c
/freadahead.h
/freading.c
/freading.h
/fseeko.c
/fstatat.c
/ftello.c
/getcwd.c
/getdtablesize.c
/iconv.in.h
/iconv.h
/iconv_open-aix.gperf
/iconv_open-hpux.gperf
/iconv_open-irix.gperf
/iconv_open-osf.gperf
/iconv_open-solaris.gperf
/iconv_open.c
/lchown.c
/lseek.c
/lstat.c
/malloca.c
/malloca.h
/malloca.valgrind
/mbchar.c
/mbchar.h
/mbiter.h
/mbslen.c
/mbsstr.c
/mbuiter.h
/memchr.c
/memchr.valgrind
/mempcpy.c
/memrchr.c
/mkdir.c
/mkdirat.c
/open.c
/openat-die.c
/openat-priv.h
/openat-proc.c
/openat.c
/openat.h
/pathmax.h
/pipe-safer.c
/progname.c
/progname.h
/propername.c
/propername.h
/rmdir.c
/same-inode.h
/save-cwd.c
/save-cwd.h
/stat-macros.h
/stat.c
/stdarg.in.h
/stdarg.h
/stdio-impl.h
/str-kmp.h
/strdup.c
/striconv.c
/striconv.h
/stripslash.c
/strndup.c
/strnlen.c
/strnlen1.c
/strnlen1.h
/sys_stat.in.h
/sys_stat.h
/time.in.h
/time.h
/timespec.h
/trim.c
/trim.h
/unistd--.h
/unistd-safer.h
/unitypes.in.h
/unitypes.h
/uniwidth.in.h
/uniwidth.h
/unlink.c
/unlinkat.c
/unlocked-io.h
/version-etc.c
/version-etc.h
/wcwidth.c
/xgetcwd.c
/xgetcwd.h
/xstriconv.c
/xstriconv.h
/xstrndup.c
/xstrndup.h
/anytostr.c
/imaxtostr.c
/inttostr.c
/inttostr.h
/offtostr.c
/uinttostr.c
/umaxtostr.c
/dev-ino.h
/file-type.c
/file-type.h
/write-any-file.c
/write-any-file.h
/bitrotate.h
/creat-safer.c
/cycle-check.c
/cycle-check.h
/dirent--.h
/dirent-safer.h
/fcntl--.h
/fcntl-safer.h
/fts-cycle.c
/fts.c
/fts_.h
/hash.c
/hash.h
/i-ring.c
/i-ring.h
/open-safer.c
/openat-safer.c
/opendir-safer.c
